In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../data/pokemon_data.csv")

In [6]:
#df=pd.read_csv("../data/pokemon_data.csv")   for csv file
#print(df.head(3))

#df_xlsx=pd.read_excel("pokemon_data.xlsx")    for excel file
#print(df_xlsx.head(3))

#df=pd.read_csv("pokemon_data.txt", delimiter ='\t' (columns will be separated))    for text file
#print(df.head(3))

        Name  Pokedex Number  Type1   Type2 Classification  Height (m)  \
0  Bulbasaur               1  Grass  Poison   Seed Pokémon         0.7
1    Ivysaur               2  Grass  Poison   Seed Pokémon         1.0
2   Venusaur               3  Grass  Poison   Seed Pokémon         2.0

   Weight (kg)              Abilities  Generation Legendary Status
0          6.9  Overgrow, Chlorophyll           1               No
1         13.0  Overgrow, Chlorophyll           1               No
2        100.0  Overgrow, Chlorophyll           1               No

In [10]:
## Read Headers
print(df.columns)
## Read each column
print(df['Name'])

Index(['Name', 'Pokedex Number', 'Type1', 'Type2', 'Classification',
       'Height (m)', 'Weight (kg)', 'Abilities', 'Generation',
       'Legendary Status'],
      dtype='object')
0               Bulbasaur
1                 Ivysaur
2                Venusaur
3              Charmander
4              Charmeleon
              ...
900              Ursaluna
901      Basculegion-male
902              Sneasler
903              Overqwil
904    Enamorus-incarnate
Name: Name, Length: 905, dtype: object